*.swp
.idea
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
/zsh/antigen-hs/
/vim/.vim/.netrwhist
/emacs/.emacs.d/recentf~
.tramp_history
/emacs/.emacs.d/.emacs.desktop
/emacs/.emacs.d/.emacs.desktop.lock
/emacs/.emacs.d/network-security.data

